#grid {
    width: 960px;
}

.cell {
    background-color: blue;
    display: inline-block;
    border-color: black;
    border-radius: 2px;
    /*margin: 1px;
   /*  height: 50px;
    width: 50px; */
}

.highlight {
    background-color: red;
}